<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Product</title>
</head>
<body>
    <div class="confirmation-container">
        <h1>Delete Product</h1>
        <p>Are you sure you want to delete the conference "{{ product.name }}"?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        
        <a href="{% url 'all_products' %}"><button>Cancel</button></a>
    </div>
</body>
</html>